<div class="grid-x grid-margin-x grid-margin-y">
    
    <div class="cell small-6 medium-4 large-3 product">
        <span class="label new">Nuevo</span>
        <img class="normal" src="assets/img/products/velas2.jpg" alt="producto 2">
        <!-- <img class="hover"  src="assets/img/products/producto2.jpg" alt="producto 2"> -->
        <span class="label promo">
            2 por $100 <i class="fi-shopping-cart"></i>
        </span>
    </div>
    
    <div class="cell small-6 medium-4 large-3 product">
        <span class="label new">Nuevo</span>
        <img class="normal" src="assets/img/products/producto7.jpg" alt="producto 7">
        <!-- <img class="hover" src="assets/img/products/producto7.jpg" alt="producto 7"> -->
        <span class="label promo">
            2 por $100 <i class="fi-shopping-cart"></i>
        </span>
    </div>

    <div class="cell small-6 medium-4 large-3 product">
        <span class="label new">Nuevo</span>
        <img class="normal" src="assets/img/products/producto3.jpg" alt="producto 3">
        <!-- <img class="hover" src="assets/img/products/producto3.jpg" alt="producto 3"> -->
        <span class="label promo">
            2 por $100 <i class="fi-shopping-cart"></i>
        </span>
    </div>

    <div class="cell small-6 medium-4 large-3 product">
        <span class="label new">Nuevo</span>
        <img class="normal" src="assets/img/products/producto4.jpg" alt="producto 4">
        <!-- <img class="hover" src="assets/img/products/producto4.jpg" alt="producto 4"> -->
        <span class="label promo">
            2 por $100 <i class="fi-shopping-cart"></i>
        </span>
    </div>

    <div class="cell small-6 medium-4 large-3 product">
        <span class="label new">Nuevo</span>
        <img class="normal" src="assets/img/products/producto5.jpg" alt="producto 5">
        <!-- <img class="hover" src="assets/img/products/logomimby.png" alt="producto 5"> -->
        <span class="label promo">
            2 por $100 <i class="fi-shopping-cart"></i>
        </span>
    </div>

    <div class="cell small-6 medium-4 large-3 product">
        <span class="label new">Nuevo</span>
        <img class="normal" src="assets/img/products/producto6.jpg" alt="producto 6">
        <!-- <img class="hover" src="assets/img/products/producto6.jpg" alt="producto 6"> -->
        <span class="label promo">
            2 por $100 <i class="fi-shopping-cart"></i>
        </span>
    </div>

    <div class="cell small-6 medium-4 large-3 product">
        <span class="label new">Nuevo</span>
        <img class="normal" src="assets/img/products/producto8.jpg" alt="producto 8">
        <!-- <img class="hover" src="assets/img/products/producto6.jpg" alt="producto 6"> -->
        <span class="label promo">
            2 por $100 <i class="fi-shopping-cart"></i>
        </span>
    </div>

    <div class="cell small-6 medium-4 large-3 product">
        <span class="label new">Nuevo</span>
        <img class="normal" src="assets/img/products/producto9.jpg" alt="producto 9">
        <!-- <img class="hover" src="assets/img/products/producto6.jpg" alt="producto 6"> -->
        <span class="label promo">
            2 por $100 <i class="fi-shopping-cart"></i>
        </span>
    </div>

</div>
<hr>
