<div class="grid-x grid-margin-x grid-margin-y">
    {{#repeat 12}}
    <div class="cell small-6 medium-4 large-3 product">
        <span class="label new">Nuevo</span>
        <img class="normal" src="assets/img/products/logomimby.png" alt="producto 1">
        <img class="hover" src="assets/img/products/producto2.jpg" alt="producto 1">
        <span class="label promo">
            2 por $100 <i class="fi-shopping-cart"></i>
        </span>
    </div>
    {{/repeat}}
</div>
<hr>
<div class="grid-x">
    <div class="cell small-12 medium-3 medium-offset-9 text-right text-uppercase">
        <a href="#" class="button">Listar todos</a>
    </div>
</div>