<!-- Menú horizontal para dispositivos pequeños y medianos -->
<ul class="menu text-uppercase hide-for-large">
    <li><a href="productos.html">Todos</a></li>
    <li><a href="#">Novedades</a></li>
    <li><a href="#">Los más vendidos</a></li>
    <li><a href="#">Accesorios</a></li>
    <li><a href="#">Para regalar</a></li>
    <li><hr/></li>
    <li><a href="#">Velas</a></li>
    <li><hr/></li>
    <li><a href="#">Jabones</a></li>
</ul>
<!-- Menú vertical para dispositivos grandes -->
<ul class="vertical menu text-uppercase show-for-large">
    <li><a href="productos.html">Todos</a></li>
    <li><a href="#">Novedades</a></li>
    <li><a href="#">Los más vendidos</a></li>
    <li><a href="#">Accesorios</a></li>
    <li><a href="#">Para regalar</a></li>
    <li><hr/></li>
    <li><a href="#"><strong>Línea Mimby</strong></a></li>
    <li><hr/></li>
    <li><a href="#"><strong>Línea Tory</strong></a></li>
</ul>